/.vscode/*
/node_modules/*
/.idea
/node_modules/*
/bridge/*
.listcache
server.exe
node.dll
conf.json
bt.dat
*.log
/bin/*
/plugins/*
/packages/*
/client_packages/*
/app/server/.idea/*
/app/client/.idea/*
/app/server/node_modules/*
/app/client/node_modules/*
/encryption_keys/*
/source_dlcpacks